<div class="container">
    <h1>Friend List</h1>

    <label>List of Friend that are not user :</label>
    <li *ngFor="let web of newFriends">
        {{web}}
    </li>
    <form [formGroup]="NewFriends" (ngSubmit)="validNewFriends()">
        <div class="form-group">
            <label>Email for new Friend</label> <br>
            <input type="text" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <br>
        <div>
            <label>Update new Friend list if user exist </label>
            <button (click)="updateNewFriend()" type="button" class="btn btn-primary">Update</button>
        </div>
    <br>

    <label>Friend:</label>
    <li *ngFor="let web of default">
        {{web.name}}
    </li>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="website">User:</label>
            <div *ngFor="let web of websiteList">
                <label>
                    <input type="checkbox" [value]="web._id" (change)="onCheckboxChange($event)" [name]="web.name" />
                    {{web.name}}
                </label>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
<div>
    <button (click)="this.router.navigate(['profile'])" type="button" class="btn btn-primary">return</button>
</div>
